@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* body {
    perspective: 1000px;
} */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
    perspective: 1000px;
}

.container {
    width: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container .card {
    position: relative;
    transform-style: preserve-3d;
    width: 263px;
    height: 386px;
    border-radius: 16px 50px 16px 16px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
}

.shoes {
    position: absolute;
    top: -200px;
    right: -120px;
    transition: all 0.5s ease-in-out;
    animation: float 2s infinite;
}

@keyframes float {
    0% {
        transform: translateY(-20px);
    }
    ;
    40% {
        transform: translateY(20px);
    }
    60% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.container .card .description {
    display: flex;
    flex-direction: column;
    margin: 100px 20px 10px;
}

.container .card .description h2 {
    transform: translateZ(10px);
}

.brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #9bdc28;
    font-size: 14px;
    margin-bottom: 0px;
    transition: all .5s ease-in-out;
}

.model-name {
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    max-width: 150px;
    margin-bottom: 0px;
}

.price {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: flex-end;
    margin-top: 22px;
    height: 24px;
}

.price p {
    color: #DADADA;
    font-weight: bold;
    font-size: 14px;
}

.price h6 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    margin-left: 4px;
}

.container .card .content-area {
    display: flex;
    margin-left: 20px;
}

.container .card .content-area .content {
    display: flex;
    flex-direction: column;
}

.container .card .content-area .content .color,
.container .card .content-area .content .size {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.container .card .content-area .content h3,
.container .card .content-area .content h3 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.container .card .content .size span {
    width: 23px;
    height: 23px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 22px;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 12px;
    margin-right: 9px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.container .card .content .size span:hover {
    background: #9bdc28;
    transform: scale(2, 2);
}

.container .card .content .color span {
    width: 18px;
    height: 18px;
    background: #f00;
    border: none;
    margin-right: 23px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.container .card .content .color span:nth-child(1) {
    background: #B5DB48;
}

.container .card .content .color span:nth-child(2) {
    background: #FF3838;
}

.container .card .content .color span:nth-child(3) {
    background: #3864FF;
}

.container .card .content .color span.active {
    transform: scale(2, 2);
    border: 1px solid #fff;
}

.container .card .content .color span:hover {
    transform: scale(2, 2);
    border: 1px solid #fff;
}

.btnBuy {
    width: 49px;
    height: 80px;
    background: #B5DB48;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.cart {
    width: 30px;
    height: 30px;
}

.btnBuy .arrow {
    display: flex;
    flex-direction: column;
    margin: 4px auto 8px auto;
}

.btnBuy:hover {
    transform: scale(1.3, 1.3);
    transition: all .5s ease-in-out;
}

.btnBuy:hover .arrow #a1 {
    opacity: 1;
    animation: arrowAnimation .6s infinite;
    animation-delay: .2s;
}

.btnBuy:hover .arrow #a2 {
    opacity: 1;
    animation: arrowAnimation .6s infinite;
    animation-delay: -.3s;
}

.btnBuy:hover .arrow #a3 {
    opacity: 1;
    animation: arrowAnimation .6s infinite;
    animation-delay: -.2s;
}

@keyframes arrowAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}